In [1]:
url = 'https://www.football-data.co.uk/mmz4281/1920/E0.csv'
url1 = 'https://www.football-data.co.uk/mmz4281/1920/E2.csv'
url2 = 'https://www.football-data.co.uk/mmz4281/0203/E1.csv'

In [2]:
import requests
import pandas as pd
from io import StringIO

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\ADMIN\anaconda3\Lib\asyncio\windows_events.py", line 321, in run_forever
    super().run_forever()
  File "c:\Users\ADMIN\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "c:\Users\ADMIN\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "c:\Users\ADMIN\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3051, in run_cell
    result = self._run_cell(
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3106, in _run_cell
    result = runner(coro)
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3311, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3493, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19268\1751060558.py", line 2, in <module>
    import pandas as pd
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\ADMIN\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\ADMIN\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [3]:
response = requests.get(url)
data = StringIO(response.text)
df = pd.read_csv(data)

In [4]:
response1 = requests.get(url1)
data1 = StringIO(response1.text)
df1 = pd.read_csv(data1)

In [5]:
response2 = requests.get(url2)
data2 = StringIO(response2.text)
#df2 = pd.read_csv(data2)

In [6]:
#df.head()

In [7]:
#df.info()

In [8]:
#df.describe

In [9]:
#df.columns

In [10]:
#df.to_csv('E0.csv', index = False)

In [11]:
#df1.to_csv('E2.csv', index = False)

In [12]:
import os
import pandas as pd
import requests

In [13]:
# download data from source 
def download_data(url, staging_dir):
    #os.makedirs(staging_dir, exist_ok=True)
    
    file_name = url.split('/')[-1]
    file_path = os.path.join(staging_dir, file_name)

    response = requests.get(url)
    if response.status_code == 200:
        with open(file_path, 'wb') as file:
            file.write(response.content)
        print(f"Downloaded data from {url} to {file_path}")
        return file_path
    else:
        print(f"Failed to download data from {url}")
        return None

def download_all_data(urls, staging_dir):
    for url in urls:
        download_data(url, staging_dir)

In [14]:
urls = [
        "https://www.football-data.co.uk/mmz4281/1920/E0.csv",
        "https://www.football-data.co.uk/mmz4281/1920/E2.csv",
        "https://www.football-data.co.uk/mmz4281/1920/E1.csv"
    ]
staging_dir = "./staging_dir/raw_data"

In [15]:
# download data
download_all_data(urls, staging_dir)

Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E0.csv to ./staging_dir/raw_data\E0.csv
Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E2.csv to ./staging_dir/raw_data\E2.csv
Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E1.csv to ./staging_dir/raw_data\E1.csv

In [16]:
E0_df = pd.read_csv(r'C:\Users\ADMIN\Desktop\Yanki_Ecommerce_Case_Study\GoalBet-ETL-Superstars\staging_dir\raw_data\E0.csv')
E0_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93

In [17]:
E0_extracted = E0_df[['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam' , 'FTHG', 'FTAG']]

In [18]:
E0_extracted.head()

  Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG
0  E0  09/08/2019  20:00       Liverpool           Norwich     4     1
1  E0  10/08/2019  12:30        West Ham          Man City     0     5
2  E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1
3  E0  10/08/2019  15:00         Burnley       Southampton     3     0
4  E0  10/08/2019  15:00  Crystal Palace           Everton     0     0

In [19]:
E0_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       380 non-null    object
 1   Date      380 non-null    object
 2   Time      380 non-null    object
 3   HomeTeam  380 non-null    object
 4   AwayTeam  380 non-null    object
 5   FTHG      380 non-null    int64
 6   FTAG      380 non-null    int64
dtypes: int64(2), object(5)
memory usage: 20.9+ KB

In [20]:
E1_df = pd.read_csv('./staging_dir/raw_data/E1.csv')
E1_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,02/08/2019,19:45,Luton,Middlesbrough,3,3,D,2,2,...,1.79,-0.25,1.94,1.96,1.96,1.96,1.98,1.98,1.94,1.93
1,E1,03/08/2019,15:00,Barnsley,Fulham,1,0,H,1,0,...,2.13,0.25,2.04,1.86,2.05,1.87,2.07,1.88,2.02,1.84
2,E1,03/08/2019,15:00,Blackburn,Charlton,1,2,A,0,1,...,1.84,-0.75,1.88,2.02,1.91,2.01,1.94,2.02,1.89,1.98
3,E1,03/08/2019,15:00,Brentford,Birmingham,0,1,A,0,1,...,1.93,-0.50,2.00,1.90,2.01,1.91,2.01,1.96,1.96,1.90
4,E1,03/08/2019,15:00,Millwall,Preston,1,0,H,1,0,...,1.66,-0.25,2.11,1.79,2.12,1.81,2.13,1.87,2.08,1.80

In [21]:
E1_extracted = E1_df[['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam' , 'FTHG', 'FTAG']]

In [22]:
E1_extracted.head()

  Div        Date   Time   HomeTeam       AwayTeam  FTHG  FTAG
0  E1  02/08/2019  19:45      Luton  Middlesbrough     3     3
1  E1  03/08/2019  15:00   Barnsley         Fulham     1     0
2  E1  03/08/2019  15:00  Blackburn       Charlton     1     2
3  E1  03/08/2019  15:00  Brentford     Birmingham     0     1
4  E1  03/08/2019  15:00   Millwall        Preston     1     0

In [23]:
E1_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       552 non-null    object
 1   Date      552 non-null    object
 2   Time      552 non-null    object
 3   HomeTeam  552 non-null    object
 4   AwayTeam  552 non-null    object
 5   FTHG      552 non-null    int64
 6   FTAG      552 non-null    int64
dtypes: int64(2), object(5)
memory usage: 30.3+ KB

In [24]:
E2_df = pd.read_csv(r'C:\Users\ADMIN\Desktop\Yanki_Ecommerce_Case_Study\GoalBet-ETL-Superstars\staging_dir\raw_data\E2.csv')
E2_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,03/08/2019,15:00,AFC Wimbledon,Rotherham,1,2,A,0,1,...,1.72,0.25,1.88,1.98,1.84,2.06,1.95,2.04,1.88,1.96
1,E2,03/08/2019,15:00,Blackpool,Bristol Rvs,2,0,H,1,0,...,1.65,-0.50,2.02,1.83,2.06,1.84,2.09,1.87,2.03,1.82
2,E2,03/08/2019,15:00,Burton,Ipswich,0,1,A,0,1,...,1.69,-0.25,1.75,2.13,1.78,2.13,1.83,2.19,1.76,2.09
3,E2,03/08/2019,15:00,Coventry,Southend,1,0,H,0,0,...,1.81,-0.25,1.85,1.95,1.84,2.06,1.85,2.26,1.77,2.08
4,E2,03/08/2019,15:00,Doncaster,Gillingham,1,1,D,1,1,...,1.94,-0.50,1.93,1.93,1.96,1.94,1.97,1.96,1.92,1.91

In [25]:
E2_extracted = E2_df[['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam' , 'FTHG', 'FTAG']]

In [26]:
E2_extracted.head()

  Div        Date   Time       HomeTeam     AwayTeam  FTHG  FTAG
0  E2  03/08/2019  15:00  AFC Wimbledon    Rotherham     1     2
1  E2  03/08/2019  15:00      Blackpool  Bristol Rvs     2     0
2  E2  03/08/2019  15:00         Burton      Ipswich     0     1
3  E2  03/08/2019  15:00       Coventry     Southend     1     0
4  E2  03/08/2019  15:00      Doncaster   Gillingham     1     1

In [27]:
E2_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       400 non-null    object
 1   Date      400 non-null    object
 2   Time      400 non-null    object
 3   HomeTeam  400 non-null    object
 4   AwayTeam  400 non-null    object
 5   FTHG      400 non-null    int64
 6   FTAG      400 non-null    int64
dtypes: int64(2), object(5)
memory usage: 22.0+ KB

In [28]:
join_df = pd.concat([E0_extracted, E1_extracted, E2_extracted], ignore_index=True)

In [29]:
join_df.head()

  Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG
0  E0  09/08/2019  20:00       Liverpool           Norwich     4     1
1  E0  10/08/2019  12:30        West Ham          Man City     0     5
2  E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1
3  E0  10/08/2019  15:00         Burnley       Southampton     3     0
4  E0  10/08/2019  15:00  Crystal Palace           Everton     0     0

In [30]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       1332 non-null   object
 1   Date      1332 non-null   object
 2   Time      1332 non-null   object
 3   HomeTeam  1332 non-null   object
 4   AwayTeam  1332 non-null   object
 5   FTHG      1332 non-null   int64
 6   FTAG      1332 non-null   int64
dtypes: int64(2), object(5)
memory usage: 73.0+ KB

In [31]:
df = join_df.drop_duplicates()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       1332 non-null   object
 1   Date      1332 non-null   object
 2   Time      1332 non-null   object
 3   HomeTeam  1332 non-null   object
 4   AwayTeam  1332 non-null   object
 5   FTHG      1332 non-null   int64
 6   FTAG      1332 non-null   int64
dtypes: int64(2), object(5)
memory usage: 73.0+ KB

In [33]:
import datetime

In [34]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [35]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       1332 non-null   object
 1   Date      1332 non-null   datetime64[ns]
 2   Time      1332 non-null   datetime64[ns]
 3   HomeTeam  1332 non-null   object
 4   AwayTeam  1332 non-null   object
 5   FTHG      1332 non-null   int64
 6   FTAG      1332 non-null   int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 73.0+ KB

In [46]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG
0,E0,2019-08-09,1900-01-01 20:00:00,Liverpool,Norwich,4,1
1,E0,2019-08-10,1900-01-01 12:30:00,West Ham,Man City,0,5
2,E0,2019-08-10,1900-01-01 15:00:00,Bournemouth,Sheffield United,1,1
3,E0,2019-08-10,1900-01-01 15:00:00,Burnley,Southampton,3,0
4,E0,2019-08-10,1900-01-01 15:00:00,Crystal Palace,Everton,0,0

In [37]:
df.to_csv('./processed_data/transformed_data.csv', index=False)

In [38]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\admin\anaconda3\lib\site-packages (2.9.9)

In [39]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (1.4.51)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (3.0.3)

In [45]:
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import pandas as pd

ModuleNotFoundError: No module named 'sql_engine'

In [41]:
def get_postgres_engine():

    connection_url = URL(
        drivername="postgresql+psycopg2",
        username="postgres",
        password="1975",
        host="localhost",
        port="5432",
        database="GoalBet"
    )
    # Create engine
    engine = create_engine(connection_url)
    return engine
engine = get_postgres_engine()
df.to_sql('GoalBet', engine, if_exists='append', index=False)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19268\38580415.py:3: SADeprecationWarning: Calling URL() directly is deprecated and will be disabled in a future release.  The public constructor for URL is now the URL.create() method.
  connection_url = URL(
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19268\38580415.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('GoalBet', engine, if_exists='append', index=False)

AttributeError: 'Engine' object has no attribute 'cursor'

In [43]:
#Loading the dataset into a postgre sql database
#Defining parameters/connections
import pandas as pd
from sqlalchemy import create_engine

db_params = {
    'username' : 'postgres',
    'password' : '1975',
    'host' : 'localhost',
    'port' : '5432',
    'database' : 'GoalBet'
}

#connections
db_url = f"postgresql://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

#Creatind database engine
engine  = create_engine(db_url)

#connecting to the postgres server
with engine.connect() as connection:
    #Create tables and load the data
    connection = sql_engine.raw_connection()
    df.to_sql('GoalBet', connection, index= False, if_exists= 'replace')
    
print('Database, tables and data loaded successfully')

NameError: name 'sql_engine' is not defined

In [ ]:
#connections
db_url = f"postgresql://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

#Creatind database engine
engine  = create_engine(db_url)

#connecting to the postgres server
with engine.connect() as connection:
    #Create tables and load the data
    df.to_sql('GoalBet', connection, index= False, if_exists= 'replace')
    
print('Database, tables and data loaded successfully')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_34420\4253112522.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('GoalBet', connection, index= False, if_exists= 'replace')

AttributeError: 'Connection' object has no attribute 'cursor'

In [42]:
pd.__version__

'2.2.2'