In [1]:
url = 'https://www.football-data.co.uk/mmz4281/1920/E0.csv'
url1 = 'https://www.football-data.co.uk/mmz4281/1920/E2.csv'
url2 = 'https://www.football-data.co.uk/mmz4281/0203/E1.csv'

In [2]:
import requests
import pandas as pd
from io import StringIO

In [3]:
response = requests.get(url)
data = StringIO(response.text)
df = pd.read_csv(data)

In [4]:
response1 = requests.get(url1)
data1 = StringIO(response1.text)
df1 = pd.read_csv(data1)

In [7]:
response2 = requests.get(url2)
data2 = StringIO(response2.text)
#df2 = pd.read_csv(data2)

In [15]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Columns: 106 entries, Div to AvgCAHA
dtypes: float64(82), int64(16), object(8)
memory usage: 314.8+ KB

In [18]:
df.describe

<bound method NDFrame.describe of     Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG FTR  \
0    E0  09/08/2019  20:00       Liverpool           Norwich     4     1   H
1    E0  10/08/2019  12:30        West Ham          Man City     0     5   A
2    E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1   D
3    E0  10/08/2019  15:00         Burnley       Southampton     3     0   H
4    E0  10/08/2019  15:00  Crystal Palace           Everton     0     0   D
..   ..         ...    ...             ...               ...   ...   ...  ..
375  E0  26/07/2020  16:00       Leicester        Man United     0     2   A
376  E0  26/07/2020  16:00        Man City           Norwich     5     0   H
377  E0  26/07/2020  16:00       Newcastle         Liverpool     1     3   A
378  E0  26/07/2020  16:00     Southampton  Sheffield United     3     1   H
379  E0  26/07/2020  16:00        West Ham       Aston Villa     1     1   D

     HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
0       4     0  ...     3.43 -2.25      1.91      1.99   1.94   1.98
1       0     1  ...     2.91  1.75      1.95      1.95   1.96   1.97
2       0     0  ...     1.92 -0.50      1.95      1.95   1.98   1.95
3       0     0  ...     1.71  0.00      1.87      2.03   1.89   2.03
4       0     0  ...     1.71  0.25      1.82      2.08   1.97   1.96
..    ...   ...  ...      ...   ...       ...       ...    ...    ...
375     0     0  ...     2.03  0.50      1.89      2.01   1.88   2.05
376     2     0  ...     5.77 -3.75      2.03      1.87   2.01   1.88
377     1     1  ...     2.40  1.00      1.94      1.96   1.95   1.97
378     0     1  ...     2.01 -0.50      1.97      1.93   2.00   1.93
379     0     0  ...     2.03  0.00      1.93      1.97   1.95   1.98

     MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
0       1.99     2.07     1.90     1.99
1       2.07     1.98     1.97     1.92
2       2.00     1.96     1.96     1.92
3       1.90     2.07     1.86     2.02
4       2.03     2.08     1.96     1.93
..       ...      ...      ...      ...
375     1.94     2.05     1.86     2.02
376     2.06     1.88     2.02     1.84
377     2.03     2.00     1.95     1.92
378     2.03     1.96     1.98     1.89
379     1.99     2.00     1.93     1.95

[380 rows x 106 columns]>

In [19]:
df.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)

In [30]:
df.to_csv('E0.csv', index = False)

In [32]:
df1.to_csv('E2.csv', index = False)